.team-container {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 1190px) {
    padding: 80px;
    justify-content: space-around;
  }
}

.team-card {
  width: 270px;

  @media screen and (max-width: 1190px) {
    margin-bottom: 30px;
    margin-right: 20px;
  }

  &__title {
    color: #2d3033;
    text-transform: uppercase;
    margin-top: 30px;
  }
  &__subtitle {
    color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 15px;
  }
  &__description {
    color: #6c7279;
    margin-top: 30px;
    opacity: 0.9;
    line-height: 21px;
  }
  &__social {
    margin-top: 30px;
    display: flex;
    &-icons-item {
      border: 1px solid #e8ecee;
      width: 40px;
      line-height: 40px;
      margin-right: 4px;
      text-align: center;
    }
    &-icon {
      font-size: 18px;
      color: #c6cacc;
    }
  }
}

